<mat-card>
  <div class="col-md-6 col-md-offset-3">
          <div class="logo-img" >
              <img src="../../assets/img/kup-logo123.png" alt="" width="200">
              <br><br><br>
          </div>
  </div>
  <!-- BAHAGIAN 1 -->
<p><label>BORANG PENDAFTARAN PEMOHON KORIDOR UTILITI PAHANG</label></p>
<!-- {{data.value | json}} -->
<p><b>Bahagian 1: Maklumat Pemohon</b></p><br>
<form [formGroup]='data'>
  <table class="example-full-width" cellspacing="0"><tr>
  <td><p>Pendaftaran Sebagai:</p>
  <mat-select placeholder="Pilih salah satu" formControlName="regas">
    <mat-option value="Syarikat">Syarikat</mat-option>
    <mat-option value="Individu">Individu</mat-option>
    <mat-option value="Konsultan">Konsultan</mat-option>
    <mat-option value="Kontraktor">Kontraktor</mat-option>
    <mat-option value="Pemaju">Pemaju</mat-option>
  </mat-select><br></td>
  <td><p>Name Syarikat:</p>
  <input type="text" class="form-control" placeholder="" formControlName="co_name"></td>
  <td><p>No. Pendaftaran SSM:</p>
  <input type="text" class="form-control" placeholder="" formControlName="co_reg"></td>
</tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
  <td><p>Alamat Syarikat:</p>
  <input type="text" class="form-control" placeholder="" formControlName="co_add"></td>
  <td><p>Nama Pemohon:</p>
  <input type="text" class="form-control" placeholder="" formControlName="req_name"></td>
  <td><p>No. Kad Pengenalan:</p>
  <input type="text" class="form-control" placeholder="" formControlName="ic_no"></td>
</tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
  <td><p>Jawatan:</p>
  <input type="text" class="form-control" placeholder="" formControlName="req_pos"></td>
  <td><p>Emel:</p>
  <input type="text" class="form-control" placeholder="" formControlName="email"></td>
  <td><p>No. Telefon:</p>
  <input type="text" class="form-control" placeholder="" formControlName="co_no"></td>
  <td><p>No. Faks:</p>
  <input type="text" class="form-control" placeholder="" formControlName="fax_no"></td>
</tr></table>
</form><hr>

<!-- BAHAGIAN 2 -->
<p><b>Bahagian 2: Muat Naik Dokumen Pemohon</b></p>
<table class="example-full-width" cellspacing="0"><tr>
  <td><p>Surat Perakuan Wakil Syarikat</p>
  <input type="file" (change)="uploadFile($event, '/spws')"></td>
<td><p>Salinan Kad Pengenalan Pemohon</p>
  <input type="file" (change)="uploadFile($event, '/skpp')"></td>
<td><p>Sijil Pendaftaran Perniagaan SSM</p>
  <input type="file" (change)="uploadFile($event, '/spps')"></td>
</tr></table><br>

<mat-checkbox required>
Saya memperaku bahawa semua maklumat yang dinyatakan di atas adalah benar<br>
dan bersetuju dengan terma dan syarat yang ditetapkan.
</mat-checkbox><br><br>

<button mat-button (click)="saveRegister()">Save Details</button>
</mat-card>
