mat-grid-tile {
  background: lightgrey;
}
.example-header{
  min-height: 64px;
  padding: 24px 24px 0;
}
.stat-container{
  padding: 10px;
}
.stat{
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 17%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0,0,0,0.15);
  margin-left: 4px;
  margin-right: 4px;
}
.text-success{
  color: green;
  font-size: 40px;
}
