<!-- <mat-toolbar color="white" class="main-toolbar">
  <div>
    <img src="../../assets/img/logo2.png" alt="" align="center" height="54px" width="120px">
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav opened mode="side">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="80px">
        <mat-panel-title>
          <span>
            <span style="font-weight: bold;">Wan Akashah</span>
            <br>
            <span style="font-style: italic;">wanakashah@p2digital.com</span>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
      <mat-list-item [routerLink]="'/register'"><font size=4 color="black"><i class="material-icons">assignment_ind</i>&emsp;My Profile&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'/login'"><font size=4 color="black"><i class="material-icons">keyboard_tab</i>&emsp;Logout&emsp;</font></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
    <mat-list>
      <mat-list-item [routerLink]="'/dashboard'"><label><font size=4 color="black">&emsp;&emsp;Dashboard&emsp;</font></label></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Pemohon&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'/semua'"><font size=4 color="black">&emsp;&emsp;Semua&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'/izinlalu'"><font size=4 color="black">&emsp;&emsp;Izin Lalu&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Permit Kerja&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Mula Kerja&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Siap Kerja&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Wang Cagaran&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Ditangguhkan (KIV)&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Batal&emsp;</font></mat-list-item>
      <mat-list-item [routerLink]="'#'"><font size=4 color="black">&emsp;&emsp;Ditolak&emsp;</font></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container> -->
