<div class="sidebar-wrapper">
  <div style="padding: 2px 5px 5px 15px; min-height: 64px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);">
    <img src="../../assets/img/logo2.png" alt="" align="center" height="54px" width="120px">
  </div>
  <ul class="nav" style="margin-top: 0px;">
    <li *ngIf="isNotMobileMenu()">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="ti-panel"></i>
          <p>Stats</p>
      </a>
    </li>
    <li class="dropdown" *ngIf="isNotMobileMenu()">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="ti-bell"></i>
        <p class="notification">5</p>
			  <p>Notifications</p>
			  <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Notification 1</a></li>
        <li><a href="#">Notification 2</a></li>
        <li><a href="#">Notification 3</a></li>
        <li><a href="#">Notification 4</a></li>
        <li><a href="#">Another notification</a></li>
      </ul>
    </li>
    <li *ngIf="isNotMobileMenu()">
      <a href="#">
		    <i class="ti-settings"></i>
		    <p>Settings</p>
      </a>
    </li>
    <li class="divider" *ngIf="isNotMobileMenu()"></li>
    <div style="padding-top: 5px">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header collapsedHeight="80px">
            <mat-panel-title>
              <span>
                <span style="font-weight: bold;">{{name}}</span>
                <br>
                <span style="font-style: italic;">{{email}}</span>
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-button style="width:100%;" (click)="editProfile()"><i class="material-icons">person</i>My Profile</button><br>
          <button mat-button style="width:100%;" (click)="logOut()"><i class="material-icons">keyboard_tab</i>Logout</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div style="font-size: 20px; padding: 20px;">
      <b>Dashboard</b>
    </div>
    <div>
      <button mat-button (click)="redirectTo('/admindash')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Semua</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Permohonan Baru</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Izin Lalu</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Permit Kerja</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Mula Kerja</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Siap Kerja</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Wang Cagaran</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Ditangguhkan (KIV)</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Batal</button>
      <button mat-button (click)="redirectTo('/#')" style="padding: 5px 5px 5px 20px; width: 100%; text-align: left;">Ditolak</button>
    </div>
    <!-- <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
        <a (click)="selected([menuItem.path])">
          <a [routerLink]="[menuItem.path]">
          <i class="{{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
    </li> -->
  </ul>
</div>
