<div class="col-md-5"></div>
<div class="col-md-3" align="center">
        <div class="logo-img">
          <br><br>
            <img src="../../assets/img/kup-logo123.png" alt="" align="center" width="150">
        </div>
        <br><br>
</div>
<br><br>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-3" align="center">
  <mat-card>
    <p><font size="2" align="left">Daftar Akaun KUP Anda</font></p><br>
    <form [formGroup]="signup" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="Emel" required>
        </div><br>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Kata Laluan" required>
        </div><br>
        <mat-checkbox><p style="font-weight: normal;"><font size="2">
          Bersetuju dengan terma & syarat
        </font></p></mat-checkbox><br>
        <button mat-raised-button color="accent" (click)="registerF()" align="center">DAFTAR</button>
    </form>
  </mat-card>
</div>
</div>

<div class="col-md-5"></div>
<div class="col-md-3" align="center">
  <br><br>
   <p>Sudah Mempunyai Akaun KUP?</p>
   <a class="create-account" [routerLink]="'/login'"><label><font color="black">
       LOG MASUK
    </font></label></a>
</div>
