<mat-card>
<h1>BORANG PENDAFTARAN PEMOHON KORIDOR UTILITI PAHANG</h1>

<p><b>Bahagian 1: Maklumat Pemohon</b></p><br>

<table class="example-full-width" cellspacing="0"><tr>
  <td>
    <p>Pendaftaran Sebagai:</p>
    <mat-form-field class="example-full-width">
      <mat-select required>
        <mat-option>Pilih salah satu</mat-option>
        <mat-option value="Syarikat">Syarikat</mat-option>
        <mat-option value="Individu">Individu</mat-option>
        <mat-option value="Konsultan">Konsultan</mat-option>
        <mat-option value="Kontraktor">Kontraktor</mat-option>
        <mat-option value="Pemaju">Pemaju</mat-option>
      </mat-select>
  </mat-form-field></td>
  <td>
    <p>Nama Syarikat:</p>
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Nama Syarikat" equired>
  </mat-form-field></td>
  <td>
    <p>Nombor Pendaftaran SSM:</p>
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombor Pendaftaran SSM" required>
  </mat-form-field></td>
</tr></table>

<table class="example-full-width" cellspacing="0"><tr>
    <td>
      <p>Alamat Syarikat:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Alamat Syarikat" required>
    </mat-form-field></td>
    <td>
      <p>Nama Pemohon:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Nama Pemohon" required>
    </mat-form-field></td>
    <td>
      <p>Nombor Kad Pengenalan:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="No Kad Pengenalan" required>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <p>Jawatan:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Jawatan" required>
    </mat-form-field></td>
    <td>
      <p>Email:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" required>
    </mat-form-field></td>
    <td>
      <p>Nombor Telefon:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="No. Telefon" required>
    </mat-form-field></td>
    <td>
      <p>Nombor Faks:</p>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="No Faks" required>
    </mat-form-field></td>
  </tr></table>

<!-- BAHAGIAN 2 -->
<p><b>Bahagian 2: Muat Naik Dokumen Pemohon</b></p>


</mat-card>
