.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

body {
  font-family:;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}

.p-lg {
  padding: 32px;
  margin: 16px;
}

.panel {
    border-radius: 3px;
}

.md-whiteframe-z1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
