<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
      <!-- <navbar-cmp></navbar-cmp> -->
      <div class="img-padding">
        <!-- <div class="logo">
          <img src="../../assets/img/logo2.png" alt="" align="center" width="140px" height="60px">
        </div> -->
      </div>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
      <footer-cmp></footer-cmp>
  </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
