<mat-card>
  <mat-toolbar>Home/{{ (item | async)?.company2 }}</mat-toolbar>
  <br>

  <!-- BAHAGIAN 1 -->
  <mat-toolbar>MAKLUMAT AM PROJEK</mat-toolbar>
  <br>
  <div class="contain">
    <div class="content">
      <p><label>Kategori Pemasangan Utiliti Baru&emsp;</label></p>
      <p>{{ (item | async)?.newutility }}</p>
    </div>
    <div class="content">
      <p><label>Nama Projek&emsp;</label></p>
      <p>{{ (item | async)?.projname }}</p>
    </div>
    <div class="content">
      <p><label>Daerah&emsp;</label></p>
      <p>{{ (item | async)?.district }}</p>
    </div>
    <div class="content">
      <p><label>Sektor Utiliti&emsp;</label></p>
      <p>{{ (item | async)?.sector }}</p>
    </div>
    <div class="content">
      <p><label>Jangkaan Tarikh Mula Kerja&emsp;</label></p>
      <p>{{ (item | async)?.startdate }}</p>
    </div>
    <div class="content">
      <p><label>Jangkaan Tarikh Kerja Siap&emsp;</label></p>
      <p>{{ (item | async)?.enddate }}</p>
    </div>
    <div class="content">
      <p><label>Jumlah Hari&emsp;</label></p>
      <p>{{ (item | async)?.totaldays }}</p>
    </div>
    <div class="content">
      <p><label>Anggaran Kos Projek&emsp;</label></p>
      <p>{{ (item | async)?.estimation }}</p>
    </div>
  </div>
  <br>

  <!-- BAHAGIAN 2 -->
  <mat-toolbar>MAKLUMAT JALAN</mat-toolbar>
  <br>
  <div class="contain">
    <table>
      <tr>
        <th>
          <p><label>Nama Jalan&emsp;</label></p>
        </th>
        <th>
          <p><label>Koordinat Mula&emsp;</label></p>
        </th>
        <th>
          <p><label>Koordinat Akhir&emsp;</label></p>
        </th>
        <th>
          <p><label>Pihak yang memberi kelulusan&emsp;</label></p>
        </th>
        <th>
          <p><label>Kaedah Kerja&emsp;</label></p>
        </th>
        <th>
          <p><label>Panjang (m)&emsp;</label></p>
        </th>
      </tr>
      <tr *ngFor="let item of roads | async">
        <td>
          <p>{{ item.roadname }}</p>
        </td>
        <td>
          <p>{{ item.startcor }}</p>
        </td>
        <td>
          <p>{{ item.endcor }}</p>
        </td>
        <td>
          <p>{{ item.pihak }}</p>
        </td>
        <td>
          <p>{{ item.method }}</p>
        </td>
        <td>
          <p>{{ item.length }}</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="contain">
    <div class="right-contain">
      <div class="right-content">
        Jumlah Panjang Kaedah HDD (m)
      </div>
      <div class="right-content-field">
        {{ (item | async)?.hdd }}
      </div>
    </div>
    <div class="right-contain">
      <div class="right-content">
        Jumlah Panjang Pengorek (m)
      </div>
      <div class="right-content-field">
        {{ (item | async)?.tunnelling }}
      </div>
    </div>
    <div class="right-contain">
      <div class="right-content">
        Jumlah Jarak Keseluruhan (m)
      </div>
      <div class="right-content-field">
        {{ (item | async)?.total }}
      </div>
    </div>
  </div>

  <!-- BAHAGIAN 3 -->
  <mat-toolbar>MAKLUMAT ASAS PERUNDING KEJURUTERAAN (Bagi Kerja Melebihi RM500,000)</mat-toolbar>
  <br>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><p><label>Nama Syarikat&emsp;</label></p>
      <p>{{ (item | async)?.company }}</p></td>
    <td><p><label>Alamat Syarikat&emsp;</label></p>
      <p>{{ (item | async)?.address }}</p></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><p><label>Nama Pegawai Bertanggungjawab&emsp;</label></p>
      <p>{{ (item | async)?.pegawai }}</p></td>
    <td><p><label>No Kad Pengenalan&emsp;</label></p>
      <p>{{ (item | async)?.ic }}</p></td>
    <td><p><label>Jawatan&emsp;</label></p>
      <p>{{ (item | async)?.role }}</p></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><p><label>Emel&emsp;</label></p>
      <p>{{ (item | async)?.email }}</p></td>
    <td><p><label>No Telefon&emsp;</label></p>
      <p>{{ (item | async)?.phoneno }}</p></td>
    <td><p><label>No Faks&emsp;</label></p>
      <p>{{ (item | async)?.fax }}</p></td>
  </tr></table>
  <br>

  <!-- BAHAGIAN 4 -->
  <mat-toolbar>MAKLUMAT PEMOHON</mat-toolbar>
  <br>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><p><label>Nama Syarikat&emsp;</label></p>
      <p>{{ (item | async)?.company2 }}</p></td>
    <td><p><label>No. Pendaftaran SSM&emsp;</label></p>
      <p>{{ (item | async)?.ssm2 }}</p></td>
    <td><p><label>Alamat Syarikat&emsp;</label></p>
      <p>{{ (item | async)?.address2 }}</p></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><p><label>Nama Pegawai Bertanggungjawab&emsp;</label></p>
      <p>{{ (item | async)?.pegawai2 }}</p></td>
    <td><p><label>No Kad Pengenalan&emsp;</label></p>
      <p>{{ (item | async)?.ic2 }}</p></td>
    <td><p><label>Jawatan&emsp;</label></p>
      <p>{{ (item | async)?.role2 }}</p></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><p><label>Emel&emsp;</label></p>
      <p>{{ (item | async)?.email2 }}</p></td>
    <td><p><label>No Telefon&emsp;</label></p>
      <p>{{ (item | async)?.phoneno2 }}</p></td>
    <td><p><label>No Faks&emsp;</label></p>
      <p>{{ (item | async)?.fax2 }}</p></td>
  </tr></table><br>

  <!-- BAHAGIAN 5 -->
  <mat-toolbar>DOKUMEN SOKONGAN</mat-toolbar>
  <br>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <p><label>Peta Penandaan Lokasi&emsp;</label></p>
      <a class="down-button" [href]="pplfile" target="_blank">Download</a>
    </td>
    <td>
      <p><label>Lukisan Tapak&emsp;</label></p>
      <a class="down-button" [href]="ltfile" target="_blank">Download</a>
    </td>
    <td>
      <p><label>Gambar Lokasi (Sila gabungkan semua gambar ke dalam bentuk PDF)&emsp;</label></p>
      <a class="down-button" [href]="glfile" target="_blank">Download</a>
    </td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <p><label>Surat Permohonan Izin Lalu (Sila cetak, tandatangan dan muat turun kembali surat permohonan izin lalu)</label></p>
      <a class="down-button" [href]="spilfile" target="_blank">Download</a>
    </td>
  </table><br>
</mat-card>
  <!-- BAHAGIAN 6 -->
<mat-card>
  <mat-toolbar>AKTIVITI KUP</mat-toolbar>
  <br>
  <table class="example-full-width" border="0">
    <tr>
      <th>Aktiviti</th>
      <th>Catatan</th>
      <th></th>
    </tr>
    <tbody>
      <tr *ngFor="let field of fieldArrayAct; let i = index">
        <td>
          <mat-select placeholder="Pilih salah satu aktiviti" [(ngModel)]="field.akt" [ngModelOptions]="{standalone: true}" class="form-control" name="{{field.akt}}">
            <mat-option value="Semakan Dokumen Permohonan">Semakan Dokumen Permohonan</mat-option>
            <mat-option value="Pelan Penyediaan">Pelan Penyediaan</mat-option>
            <mat-option value="Lawatan Tapak">Lawatan Tapak</mat-option>
            <mat-option value="Penyediaan Sebut Harga (Quotation/Invoice)">Penyediaan Sebut Harga (Quotation/Invoice)</mat-option>
            <mat-option value="Penghantaran kepada pihak yang meluluskan">Penghantaran kepada pihak yang meluluskan</mat-option>
          </mat-select>
        </td>
        <td>
          <input [(ngModel)]="field.catakt" [ngModelOptions]="{standalone: true}" class="form-control" type="text" name="{{field.catakt}}">
        </td>
        <td>
          <button class="btn btn-default"  type="button" (click)="deleteRow(aktiviti, i)">Delete</button>
        </td>
      </tr>
      <tr>
        <td>
          <mat-select placeholder="Pilih salah satu aktiviti" class="form-control" id="newAttributeAkt" [(ngModel)]="newAttribute.akt" [ngModelOptions]="{standalone: true}" name="newAttributeAkt">
            <mat-option value="Semakan Dokumen Permohonan">Semakan Dokumen Permohonan</mat-option>
            <mat-option value="Pelan Penyediaan">Pelan Penyediaan</mat-option>
            <mat-option value="Lawatan Tapak">Lawatan Tapak</mat-option>
            <mat-option value="Penyediaan Sebut Harga (Quotation/Invoice)">Penyediaan Sebut Harga (Quotation/Invoice)</mat-option>
            <mat-option value="Penghantaran kepada pihak yang meluluskan">Penghantaran kepada pihak yang meluluskan</mat-option>
          </mat-select>
        </td>
        <td>
          <input class="form-control" type="text" id="newAttributeCatatAktiviti" [(ngModel)]="newAttribute.catakt" [ngModelOptions]="{standalone: true}" name="newAttributeCatatAktiviti">
        </td>
        <td>
          <button class="btn btn-default" type="button" (click)="addRow('aktiviti')">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--  BAHAGIAN 7-->
  <mat-toolbar>CATATAN KELULUSAN</mat-toolbar>
  <br>
  <form [formGroup]="pass">
    <input type="text" class="form-control" placeholder="Nombor Rujukan Fail" formControlName="ruj"><br>
    <input type="text" class="form-control" placeholder="Catatan kelulusan" formControlName="note"><br>
  </form>
  <hr>
  <button mat-button class="approve" (click)="approveF()">Approve</button>
  <button mat-button class="decline" (click)="declineF()">Decline</button>
  <!-- <table class="example-full-width" border="0">
    <tr>
      <th>Kelulusan</th>
      <th>Catatan</th>
      <th></th>
    </tr>
    <tbody>
      <tr *ngFor="let field of fieldArrayPass; let i = index">
        <td>
          <mat-select [(ngModel)]="field.lulus" [ngModelOptions]="{standalone: true}" class="form-control" name="{{field.lulus}}">
            <mat-option value="Diluluskan">Diluluskan</mat-option>
            <mat-option value="Ditolak">Ditolak</mat-option>
            <mat-option value="Ditangguhkan (KIV)">Ditangguhkan (KIV)</mat-option>
          </mat-select>
        </td>
        <td>
          <input [(ngModel)]="field.catlul" [ngModelOptions]="{standalone: true}" class="form-control" type="text" name="{{field.catlul}}">
        </td>
        <td>
          <button class="btn btn-default"  type="button" (click)="deleteRow('lulus',i)">Delete</button>
        </td>
      </tr>
      <tr>
        <td>
          <mat-select placeholder="Pilih salah satu kelulusan" class="form-control" id="newAttributeLulus" [(ngModel)]="newAttribute.lulus" [ngModelOptions]="{standalone: true}" name="newAttributeLulus">
            <mat-option value="Diluluskan">Diluluskan</mat-option>
            <mat-option value="Ditolak">Ditolak</mat-option>
            <mat-option value="Ditangguhkan (KIV)">Ditangguhkan (KIV)</mat-option>
          </mat-select>
        </td>
        <td>
          <input class="form-control" type="text" id="newAttributeCatatLulus" [(ngModel)]="newAttribute.catlul" [ngModelOptions]="{standalone: true}" name="newAttributeCatatLulus">
        </td>
        <td>
          <button class="btn btn-default" type="button" (click)="addRow('lulus')">Add</button>
        </td>
      </tr>
    </tbody>
  </table> -->
</mat-card>
