/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.side-content{
  display: inline-block;
  width: 20%;
}
.content{
  display: inline-block;
  vertical-align: top;
  width:100%;
}

.sidebar{
  width: auto;
}

mat-grid-tile {
  background: lightgrey;
}
