<mat-card>
  <!-- SECTION 1-->
  <p><label><font color="Orange">BAHAGIAN 1: MAKLUMAT PEMOHON</font></label></p>
  <p>Pendaftaran sebagai:&emsp;&emsp;<input #textbox width="2000px" value="Syarikat Utiliti"></p>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <input #textbox width="100%" value="Pasti Berjaya">
    </td>&emsp;&emsp;
    <td>
      <input #textbox width="2000px" value="1138267-U">
    </td>
  </table><br>
  <p><input #textbox width="1000px" height="50px" value="CWS, Magic, Cyberjaya, Selangor"></p>
  <p><input #textbox width="1000px" value="Firdaus Salleh"></p>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <input #textbox width="450px" value="840808-14-8882">
    </td>&emsp;&emsp;
    <td>
      <input #textbox width="450px" value="CEO">
    </td>
  </table><br>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <input #textbox width="450px" value="firdaus@pastiberjaya.com">
    </td>&emsp;&emsp;
    <td>
      <input #textbox width="450px" value="019-82829909">
    </td>
  </table>
 <br><br>

 <!-- SECTION 2 -->
 <p><label><font color="Orange">BAHAGIAN 2: MAKLUMAT AM PROJEK</font></label></p>
 <p><label><font size="3">Kategori Pemasangan Utiliti Baru</font></label></p>
 <input #textbox width="1000px" value="Korek Gali berjarak antara 101m-999m"><br><br>
 <p><label><font size="2">Nama Projek</font></label></p>
 <input #textbox width="1000px" value="Pemasangan Unifi di Sepanjang Jalan Tunku Ismail"><br><br>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey" size="2">Daerah</font></label></p>
     <input #textbox width="450px" value="Bentong">
   </td>&emsp;&emsp;
   <td>
     <p><label><font color="grey" size="2">Sektor Utiliti</font></label></p>
     <input #textbox width="450px" value="Pilih salah satu">
   </td>
 </table><br>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey" size="2">Jangkaan Tarikh Mula Kerja</font></label></p>
     <input #textbox width="450px" value="6/23/2018">
   </td>&emsp;&emsp;
   <td>
     <p><label><font color="grey" size="2">Jangkaan Tarikh Siap Kerja</font></label></p>
     <input #textbox width="450px" value="7/23/2018">
   </td>
 </table><br>
 <p><label><font color="grey" size="2">Anggaran Kos Projek</font></label></p>
 <input #textbox width="1000px" value="RM500,000 dan ke atas"><br>
 <br><br>

 <!-- SECTION 3 -->
 <p><label><font color="Orange">BAHAGIAN 3: MAKLUMAT JALAN</font></label></p>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey" size="2">Nama Jalan</font></label></p>
     <input #textbox width="200px" value="Jalan Tunku Ismail"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
   </td>&emsp;
   <td>
     <p><label><font color="grey" size="2">Koordinat Mula</font></label></p>
     <input #textbox width="200px" value="41^24'12.2'N"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
   </td>&emsp;
   <td>
     <p><label><font color="grey" size="2">Koordinat Akhir</font></label></p>
     <input #textbox width="200px" value="41^24'12.2'N"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
   </td>&emsp;
   <td>
     <p><label><font color="grey" size="2">Pihak yang meluluskan</font></label></p>
     <input #textbox width="200px" value="MPB"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
   </td>&emsp;
   <td>
     <p><label><font color="grey" size="2">Kaedah Kerja</font></label></p>
     <input #textbox width="200px" value="Tunnelling"><br><br>
     <input #textbox width="200px" placeholder="Pilih salah satu"><br><br>
     <input #textbox width="200px" placeholder="Pilih salah satu"><br><br>
     <input #textbox width="200px" placeholder="Pilih salah satu"><br><br>
   </td>&emsp;
   <td>
     <p><label><font color="grey" size="2">Panjang (Meter)</font></label></p>
     <input #textbox width="200px" value="2000"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
     <input #textbox width="200px"><br><br>
   </td>
 </table><br>
 <div class="contain">
   <div class="right-contain">
     <div class="right-content">
       Jumlah Panjang Kaedah HDD (m)&emsp;<input #textbox width="200px" value="2000"><br><br>
     </div>
   </div>
   <div class="right-contain">
     <div class="right-content">
       Jumlah Panjang Pengorek (m)&emsp;&nbsp;<input #textbox width="200px"><br><br>
     </div>
   </div>
   <div class="right-contain">
     <div class="right-content">
       Jumlah Jarak Keseluruhan (m)&emsp;&nbsp;<input #textbox width="200px" value="2000"><br><br>
     </div>
   </div>
 </div>
 <br><br>

 <!-- SECTION 4 -->
 <p><label><font color="Orange">BAHAGIAN 4: MAKLUMAT ASAS PERUNDING KEJURUTERAAN AWAM (BAGI KERJA MELEBIHI RM500,000 SAHAJA)</font></label></p>
 <p><input #textbox width="1000px" value="Teguh Bakti Consultancy"></p>
 <p><input #textbox width="1000px" value="Suite 344, Jalan Menara Ilham, 73000 Putrajaya, Wilayah Persekutuan Putrajaya"></p>
 <p><input #textbox width="1000px" value="Hamdan Razali"></p>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <input #textbox width="450px" value="773839-10-2929">
   </td>&emsp;&emsp;
   <td>
     <input #textbox width="450px" value="Pengurus Projek">
   </td>
 </table><br>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <input #textbox width="450px" value="Hamdan@teguh.my">
   </td>&emsp;&emsp;
   <td>
     <input #textbox width="450px" value="012-2292929">
   </td>
 </table>
 <br><br>

 <!-- SECTION 5 -->
 <p><label><font color="Orange">BAHAGIAN 5: MUAT NAIK DOKUMEN PROJEK</font></label></p>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey">Peta Penandaan Lokasi</font></label></p>
     <input #textbox width="900px">&emsp;&emsp;
     <button mat-button color="warn">Download</button>
   </td>
 </table>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey">Lukisan Tapak</font></label></p>
     <input #textbox width="900px">&emsp;&emsp;
     <button mat-button color="warn">Download</button>
   </td>
 </table>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey">Gambar Lokasi (sila susun semua gambar dan kemukakan dalam format PDF)</font></label></p>
     <input #textbox width="900px">&emsp;&emsp;
     <button mat-button color="warn">Download</button>
   </td>
 </table>
 <table class="example-full-width" cellspacing="0"><tr>
   <td>
     <p><label><font color="grey">Surat Akuan (Sila cetak, tandatangan dan muat turun kembali untuk permohonan izin lalu)</font></label></p>
     <input #textbox width="900px">&emsp;&emsp;
     <button mat-button color="warn">Download</button>
   </td>
 </table>
 <br><br><br><br>

 <div class="row">
    <div class="col-md-4"></div>
   <div class="col-md-4 col-md-offset-4">
       <button mat-raised-button color="warn" align="right" (click)="openDialog()">Batal</button>
   </div>
 </div>

</mat-card>
