<div class="col-md-5"></div>
<div class="col-md-3" align="center">
        <div class="logo-img">
          <br><br>
            <img src="../../assets/img/kup-logo123.png" alt="" align="center" width="100">
        </div>
        <br><br>
</div>
<br><br>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-3" align="center">
  <mat-card>
    <p><font size="2" align="left"><label>FORGOT PASSWORD</label></font></p><br>
    <p><font size="2">Sila masukkan emel anda untuk<br>
      proses lupa kata laluan</font></p>
    <form [formGroup]="signup" novalidate>
     <input #textbox type="text" [(ngModel)]="textValue" formControlName="email" placeholder="Email" required><br><br>
        <button mat-raised-button color="accent" [routerLink]="'#'" align="center">HANTAR</button>
    </form>
  </mat-card>
</div>
</div>
