<div class="col-md-5"></div>
<div class="col-md-3" align="center">
        <div class="logo-img">
          <br><br>
            <img src="../../assets/img/kup-logo123.png" alt="" align="center" width="100">
        </div>
        <br><br>
</div>
<br><br>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-3" align="center">
  <mat-card>
    <p><font size="2" align="left"><label>LUPA KATA LALUAN</label></font></p><br>
    <p><font size="2">Sila masukkan emel anda untuk<br>
      proses lupa kata laluan</font></p>
    <form [formGroup]="forgotpass" novalidate>
      <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><i class="material-icons">email</i></span>
    <input #textbox type="text" class="form-control" formControlName="email" placeholder="Emel" aria-describedby="sizing-addon2">
  </div>
        <button mat-raised-button color="accent" [routerLink]="'#'" align="center">HANTAR</button>
    </form>
  </mat-card>
</div>
</div><br>

<div class="col-md-5"></div>
<div class="col-md-3" align="center">
  <br><br>
   <p><font color="black">Tidak Mempunyai Akaun?</font></p>
   <a class="create-account" [routerLink]="'/signup'"><label><font color="black">
       DAFTAR MASUK
    </font></label></a>
</div>
